Repository zach-bowman/day-score: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, spotless-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Frontend: Prettier
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --check .'
        language: system
        files: ^frontend/
        pass_filenames: false
        stages: [pre-commit]

      # Frontend: ESLint
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint .'
        language: system
        files: ^frontend/.*\.[jt]sx?$
        pass_filenames: false
        stages: [pre-commit]

      # Backend: Spotless
      - id: spotless-check
        name: Spotless (Backend)
        entry: bash -c 'cd backend && ./gradlew spotlessCheck'
        language: system
        files: ^backend/.*\.java$
        pass_filenames: false
        stages: [pre-commit]

      # Commit message validation
      - id: commitlint
        name: Commitlint
        entry: bash -c 'cd frontend && npx --no -- commitlint --edit "$1"' --
        language: system
        stages: [commit-msg]

build: Add SonarCloud analysis to CI pipeline.
  .github/workflows/ci.yml
Due: none

build: Add SonarCloud via Github App and code coverage tools.
  .github/workflows/ci.yml
  README.md
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: prettier, eslint

fix: Address SonarCloud security warnings and issues.
  .github/workflows/ci.yml
  backend/Dockerfile
  frontend/Dockerfile
  scripts/clean.sh
  scripts/start.sh
  scripts/stop.sh
Due: prettier

build: Extend commitlint to validate direct pushes.
  .github/workflows/ci.yml
  README.md
Due: none

build: Add semantic version tagging to CI.
  .github/workflows/ci.yml
  README.md
Due: none

docs: Add CI and version badges to README.
  README.md
Due: none

feat: Add intial daily score entry CRUD with full-stack flow.
  backend/build.gradle
  backend/src/main/java/com/dayscore/config/CorsConfig.java
  backend/src/main/java/com/dayscore/controller/EntryController.java
  backend/src/main/java/com/dayscore/entity/Entry.java
  backend/src/main/java/com/dayscore/repository/EntryRepository.java
  backend/src/main/java/com/dayscore/service/EntryService.java
  backend/src/test/java/com/dayscore/integration/EntryControllerIT.java
  backend/src/test/java/com/dayscore/unit/service/EntryServiceTest.java
  backend/src/test/java/com/dayscore/unit/service/ScoreServiceTest.java
  frontend/app/components/EntryForm.tsx
  frontend/app/components/EntryList.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/app/services/api.ts
  frontend/app/types/entry.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/integration/app.int.test.tsx
  frontend/tests/unit/components/EntryForm.test.tsx
  frontend/tests/unit/components/EntryList.test.tsx
  frontend/tests/unit/page.test.tsx
  frontend/vitest.setup.ts
Due: prettier, eslint, spotless-check

build: Add CI-based SonarCloud analysis.
  .github/workflows/ci.yml
  README.md
  sonar-project.properties
Due: none

fix: Resolve SonarCloud code issues and improve test coverage.
  .github/workflows/ci.yml
  frontend/app/components/EntryForm.tsx
  frontend/app/components/EntryList.tsx
  frontend/app/page.tsx
  frontend/tests/unit/components/EntryForm.test.tsx
  frontend/tests/unit/page.test.tsx
  frontend/tests/unit/services/api.test.ts
  sonar-project.properties
Due: prettier, eslint

build: Update to re-run CI when PR is edited.
  .github/workflows/ci.yml
Due: none
